<div class="login-page">

  <section class="left-panel">

    <div class="logo">
      <span class="logo-icon">+</span>
      <span class="logo-text">MediCare</span>
    </div>

    <div class="hero">
      <h1>
        Your care, organized <br>
        in one place
      </h1>

      <p>
        Track medications, connect with doctors,
        and stay<br> ahead of every appointment.
      </p>

      <div class="testimonial-card">
        <div class="doctor">
          <div class="avatar"></div>

          <div>
            <h4>Dr. Emily Walsh</h4>
            <p>Cardiology · St. Vincent Medical Center</p>
          </div>

        </div>

        <p class="quote">
          "MediCare cut our no-show rate by 34% in the first quarter."
        </p>
      </div>
    </div>

    <footer>
      © 2026 MediCare Health Technologies Inc.
    </footer>

  </section>

  <section class="right-panel">
   <div class="form-container">
    <h2>Welcome back</h2>
    <p>Log in to access your dashboard.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label for="email">Email Address</label>
        <input id="email"  type="email" formControlName="email" placeholder="you@example.com">

        @if(email?.touched && email?.hasError('required')){
          <small class="error">Email is required.</small>
        }

        @if(email?.touched && email?.hasError('email')){
          <small class="error">Please enter a valid email.</small>
        }
      </div>

      <div class="input-group">
        <label for="password">Password</label>

        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter your password">

        @if(password?.touched && password?.hasError('required')){
          <small class="error">Password is required.</small>
        }

        @if(password?.touched && password?.hasError('minlength')){
          <small class="error">
            Password must be at least 8 characters.
          </small>
        }
      </div>

      <div class="options">
        <label>
          <input type="checkbox" formControlName="remember">
          Remember me
        </label>

        <a href="#">Forgot Password?</a>
      </div>

      <button  type="submit" [disabled]="loginForm.invalid">Log In</button>

      <p class="signup">
        Don't have an account?
        <a href="#">Create one</a>
      </p>
    
    </form>
   </div>
  </section>
</div>