footer{

    background:#141d33;

    height:140px;

    display:flex;

    align-items:center;

}

.container{

    width:80%;

    margin:auto;

}

hr{

    border:none;

    border-top:1px solid rgba(255,255,255,.08);

    margin-bottom:28px;

}

p{

    color:#8f99ab;

    font-size:13px;

}